.DS_STORE
*.log
*.data
data/*
!data/.gitkeep


.gdb_history

.nyc_output/
**/node_modules/
rethinkdb_data/
.eslintcache

/_*
/nodemon-*.json

.ccls-cache/
*.test.js

reports/coverage/**
reports/plato/**

.idea/

package-lock.json
